<div class="tp1 mh-100" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
        class="tp1-intros animate__animated animate__fadeIn contaier">
        <h1 class="title-inprogress text-center">Transition Program</h1>
        <div class="text-center mt-4" >
            <p>Entry to be filled, we are developing a transition program led by AI first and then there is group class</p>
            <a routerLink="/hacker-sdt" [queryParams]="{setlastanswer:true}"  class="mt-3 btn-bg-none font-base underline font-weight-bold stretched-link">Return to Test</a>
        </div>
    </div>
</div>