<div class="tp1" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro">
        <h1 class="animate__animated animate__zoomIn">About Our Relationship</h1>
        <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
            <span routerLink="/">Home</span>
            <mat-icon>navigate_next</mat-icon>
            <span>About Our Relationship</span>
        </div>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center"
        class="tp1-content animate__animated animate__fadeInUp mat-elevation-z2" style="padding: 72px;">
        <h3 class="text-center">A Rare Opportunity For a Rare
            Talent</h3>
        <a href="mailto:elisabeth@e-renity.io">
            <button routerLinkActive="router-link-active" mat-raised-button class="erenity-btn-oval">Fill out a form and
                send out your CV</button>
        </a>
    </div>
    <div fxFlex fxLayout="column" class="bg-3 mt-32">
        <div fxFlex fxLayout="row" class="tp1-content-2 no-bg  animate__animated animate__fadeIn">
            <div [routerLink]="['/about-our-relationship/work-with-us']" fxLayoutAlign="center center"
                class=" tp1-c-2-1 ">
                <h3 class="cursor-pointer">Work With Us</h3>
            </div>
            <div class="tp1-c-2-2" fxLayout="column" fxLayoutAlign="center start">
                <a [routerLink]="['/inProgress']" routerLinkActive="router-link-active">Cybersecurity of a Cybersecurity
                    Project</a>
                <a [routerLink]="['/about-our-relationship/work-with-us']" routerLinkActive="router-link-active">Work
                    Ethic And Principles</a>
            </div>
        </div>
        <div fxFlex fxLayout="row" class="tp1-content-2 no-bg animate__animated animate__fadeIn">
            <div fxLayoutAlign="center center" class=" tp1-c-2-1 ml-50" [routerLink]="['/critics']"
                routerLinkActive="router-link-active">
                <h3 class="cursor-pointer">Critics- We Always Aim For Bettering Ourselves</h3>
            </div>
        </div>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="tp1-content-3 mh-90 bg-4 p-0"
        fxLayoutGap.xs="30px" fxLayoutGap="30px">
        <div>
            <div class="about-bubble-1 animate__animated animate__fadeIn mat-elevation-z4" [routerLink]="['/roadmap']"
                routerLinkActive="router-link-active">
                I am an investor
            </div>
        </div>
        <div>
            <div class="about-bubble-2 mat-elevation-z4" [routerLink]="['/roadmap']"
                routerLinkActive="router-link-active">
                I want to be a volunteer
            </div>
        </div>
        <div>
            <div class="about-bubble-3 mat-elevation-z4" [routerLink]="['/roadmap']"
                routerLinkActive="router-link-active">
                I want to get employed
            </div>
        </div>
        <div>
            <div class="about-bubble-3 mat-elevation-z4" [routerLink]="['/membership']"
                routerLinkActive="router-link-active">
                I Want to Become Member Too!
            </div>
        </div>
    </div>

</div>