@import 'src/scss/variables';
.close{
    top: -14px;
    margin-right: -5px;
}
.selector{
    button{
        transition: all .5s ease-in-out;
        padding-top: 16px;
        width: 200px;
        img{
            width: 170px;
            margin-bottom: 8px;
        }
        &:hover{
            background-color: lighten($base,18%);
        }
        &.active{
            background-color: $base !important;
        }
    }
}