<div class="erenity-victim">
    <div class="victim-title mat-elevation-z4" fxFlex="50" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <h1>Victim Sector </h1>

        <div class="d-flex align-items-center text-secondary breadcrumb">
            <span routerLink="/">Home</span>
            <mat-icon>navigate_next</mat-icon>
            <span>Victim Sector</span>

        </div>
    </div>

    <div class="victim-content">
        <h2 class="text-center">Diagram for an example program for a cyberstalking victim</h2>
        <div>
            <div class="victim-diagram1 mb-32">
                <div class="diagram3 mr-32">
                    <p>Identity via <br>
                        <a routerLink="/" class="text-reddish">special designed test</a>
                        which type of victim
                        you are
                    </p>
                </div>
                <div class="diagram2">
                    <p>Provide options of
                        <a class="text-reddish" routerLink="/inProgress">educational program</a>
                        + <a class="text-reddish">mentoring program</a>
                    </p>
                </div>
            </div>

            <div class="victim-diagram">
                <div class="diagram1">
                    <p>Choose whether to voluntarily remain
                        in the program, keep learning or work with us,
                        provide datas for cybersecurity research,
                        purchase a recommended security product
                        (cannot guarantee full protection),
                        or purchase a <a class="text-reddish" routerLink="/inProgress">protection plan</a>
                    </p>
                </div>

                <div class="stars-diagram">
                    <p>E-renity
                        Achieved!
                    </p>
                </div>
            </div>
        </div>
        <div class="pt-60 font-24 victim-desc">
            <p>Key words in red are the products that E-renity will focus on.
            </p>
            <p>
                This process graph is open to more stages in between.
            </p>
            <p>For people who are supporters of any type (lawyers, advocates), a similar procedure apply but a
                different content in key-word products in red.</p>
        </div>
    </div>