<div class="erenity-blog">
    <div class="tp1" fxFlex fxLayout="column">
        <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro">
                <h1 class="animate__animated animate__zoomIn">Erenity Blog</h1>
                <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
                    <span routerLink="/">Home</span>
                    <mat-icon>navigate_next</mat-icon> <span>Blog</span>
                </div>
            </div>
        </div>
        <div class="erenity-blog-content d-flex justify-content-space-between">
            <div ngStyle.gt-sm="width: 70%;" class="d-flex flex-column">


                <div class="d-flex flex-column">
                    <img src="./assets/images/blog2.jpg" alt="blog-image" height="300px" style="object-fit: cover;"
                        class="mb-60 border-5 mt-32">
                    <h3 class="mb-32 font-48">Impacts of Cyber Disruptions on Our Society</h3>
                    <p class="mb-50 p-0 font-18">
                        Cyber attacks are becoming common day by day as our Critical infrastructures, economies, and
                        societies are largely dependent on computer networking. These are becoming more popular as our
                        need for technology increases with time, especially after the Covid-19 Pandemic.
                    </p>
                    <div class="d-flex justify-content-center mb-60">
                        <a routerLink="/blog/impact-of-cyber-disruption"><button class="font-18" mat-stroked-button>Read
                                More</button></a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="d-flex flex-column">
                    <img src="./assets/images/blog3.jpg" alt="blog-image" height="300px" style="object-fit: cover;"
                        class="mb-60 border-5 mt-50">
                    <h3 class="mb-32 font-48">Digital Economy in Post Covid During Cyber Disruptions</h3>
                    <p class="mb-50 p-0 font-18">
                        Before covid, the world would shift to digitization, but the pandemic accelerated the shift. If
                        there were any doubts regarding the need or necessity of all the businesses to shift to online
                        business, the pandemic has closed them. During covid, all the business was closed due to
                        lockdown, curfews and shutdowns, which increased the need for digital business.
                    </p>
                    <div class="d-flex justify-content-center mb-60">
                        <a routerLink="/blog/digital-economy"><button class="font-18" mat-stroked-button>Read
                                More</button></a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="d-flex flex-column">
                    <img src="./assets/images/mailchimp-blog.png" alt="blog-image" height="300px"
                        style="object-fit: cover;" class="mb-60 border-5">
                    <h3 class="mb-32 font-48">E-renity: The Cyberspace Matchmaker</h3>
                    <p class="mb-50 p-0 font-18">
                        A platform that connects tech companies with ordinary users who have high security needs in
                        different industries. Including cyberstalking victims who are marginalised and left out helpless
                        by legal systems.
                    </p>
                    <div class="d-flex justify-content-center mb-60">
                        <a href="https://e-renity-fbd2.mailchimpsites.com/" target="_blank"><button class="font-18"
                                mat-stroked-button>Read More</button></a>
                    </div>
                </div>
            </div>
            <div ngClass.gt-sm="ml-32" ngStyle.xs="margin:0 10px" ngStyle.gt-sm="width: 30%;">
                <div class="erenity-blog-side-content d-flex flex-column mat-elevation-z4 mt-32 font-24">
                    <h3>Subscribe To Our Blog</h3>
                    <small class="font-14 mt-8" ngClass.xs="text-center">Get the latest articles on all things testing delivered straight to your
                        inbox.
                    </small>
                    <div class="d-flex flex-column">
                        <button (click)="onSubscribe()"  mat-button class="btn-theme1 pl-32 pr-32 pt-16 pb-16 font-24 mt-32">Subscribe</button>
                    </div>
                    <p class="mt-32 text-center font-14">Erenity needs the contact information you provide to us to
                        contact you about our products and
                        services. You may unsubscribe from these communications at any time.</p>
                </div>
            </div>
        </div>
    </div>
</div>