<div class="erenity-our-service d-flex flex-column">
    <div data-aos="zoom-in" data-aos-duration="1000" class="serenity-for-electronics">
        <h3 class="text-center">{{"ourService.title"|translate}}</h3>
        <h4 class="text-center sub-1">{{"ourService.subTitle"|translate}} </h4>
    </div>
    <div class="pt-32 d-flex flex-column">
        <div data-aos="zoom-in" data-aos-duration="1000" class="d-flex align-items-center justify-content-center"
            ngClass.gt-sm="mb-300" ngClass.xs="mb-50" ngClass.sm="flex-column" ngClass.xs="flex-column mb-50">
            <div ngClass.xs="flex-column justify-content-center align-items-center" class="services d-flex">
                <div class="w-65" ngClass.xs="w-100">
                    <h4>{{"ourService.subTitle1"|translate}}</h4>
                    <ul>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            <div>{{"ourService.ST1P1"|translate}}</div>
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            <div>{{"ourService.ST1P2"|translate}}</div>
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            <div>{{"ourService.ST1P3"|translate}}</div>
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            <div>{{"ourService.ST1P4"|translate}}</div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center w-35">
                    <img src="./assets/images/serv1.png" alt="serv1">
                </div>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="1000" class="d-flex align-items-center justify-content-center"
            ngClass.gt-sm="mb-300" ngClass.xs="mb-50" ngClass.sm="flex-column" ngClass.xs="flex-column mb-50">
            <div ngClass.xs="flex-column justify-content-center align-items-center" class="services d-flex">
                <div class="d-flex justify-content-center w-35">
                    <img src="./assets/images/serv2.png" alt="serv2">
                </div>
                <div class="w-65" ngClass.xs="w-100">
                    <h4 ngClass.gt-sm="w-no-wrap">{{"ourService.subTitle2"|translate}}</h4>
                    <ul>
                        <li class="mb-24">
                            {{"ourService.ST2P1"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST2P2"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST2P3"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST2P4"|translate}}
                        </li>
                        <li class="mb-24 mt-24">{{"ourService.ST2P5"|translate}} </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST2P1"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST2P6"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST2P7"|translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="1000" class="d-flex align-items-center justify-content-center"
            ngClass.gt-sm="mb-300" ngClass.xs="mb-50" ngClass.sm="flex-column" ngClass.xs="flex-column mb-50">
            <div class="services d-flex" ngClass.xs="flex-column justify-content-center align-items-center">
                <div class="w-65" ngClass.xs="w-100">
                    <h4>{{"ourService.subTitle3"|translate}}</h4>
                    <ul>
                        <li class="mb-24">
                            {{"ourService.ST3P1"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST3P2"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST3P3"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST3P4"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST3P5"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST3P6"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST3P7"|translate}}
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-center w-35">
                    <img src="./assets/images/serv3.png" alt="serv3" class="w-100">
                </div>
            </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="1000" class="d-flex align-items-center justify-content-center"
            ngClass.gt-sm="mb-300" ngClass.xs="mb-50" ngClass.sm="flex-column" ngClass.xs="flex-column mb-50">
            <div class="services d-flex" ngClass.xs="flex-column justify-content-center align-items-center">
                <div class="justify-content-center d-flex w-35">
                    <img src="./assets/images/serv4.png" alt="serv4">
                </div>
                <div ngClass.xs="w-100" class="w-65">
                    <h4>E-renity!</h4>
                    <ul>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST4P1"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST4P2"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST4P3"|translate}}
                        </li>
                        <li>
                            <button [disableRipple]="true" mat-fab>
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                            {{"ourService.ST4P4"|translate}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>