<div class="product vh-100 p-relative d-flex align-items-center">
    <div class="bggry"></div>

    <div class="w-100"  >
        <div>
            <h3 data-aos="zoom-in"  data-aos-duration="1000" class="text-center">
                <span class="e-title">{{"Our Products" | translate}}</span>
            </h3>
        </div>
        <div class="d-xl-flex justify-content-center font-20 align-items-center" >
           <div class="min-w-50 h-100 d-flex justify-content-end">
                <div class="descript">
                    <div class="level">
                        <span data-aos="fade-left"  data-aos-duration="500" >Level 4</span>
                        <p data-aos="fade-right"  data-aos-duration="500" > is real-time one-on-one with consent</p>
                    </div>
                    <div class="level">
                        <span data-aos="fade-left"  data-aos-duration="500" >Level 3</span>
                        <p data-aos="fade-right"  data-aos-duration="500" > is talking to a specialist from opposite sector after 2nd round of SDT</p>
                    </div>
                    <div class="level">
                        <span data-aos="fade-left"  data-aos-duration="500" >Level 2</span>
                        <p data-aos="fade-right"  data-aos-duration="500" > is learning hands-on technical skills</p>
                    </div>
                    <div class="level">
                        <span data-aos="fade-left"  data-aos-duration="500" >Level 1</span>
                        <p data-aos="fade-right"  data-aos-duration="500" > is security product recomendation based on SDT</p>
                    </div>
                    <div class="level">
                        <span data-aos="fade-left"  data-aos-duration="500" >Level 0</span>
                        <p data-aos="fade-right"  data-aos-duration="500" > is our cyber vaccine </p>
                    </div>
                </div>
           </div>
           <div class="min-w-50">
                <div class="pict p-relative">
                    <div>
                        <img class="w-100 pt-4" src="assets/images/gotoupstair.png" alt="upstair">
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>