.closed{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: -25px;
    filter: drop-shadow(-1px 0px 0px rgba(255,255,255,.3));
}
.jelly-fish{
    width: 100px;
}
.thank-you{
    font-size: 32px;
    font-weight: 500;
}