<div class="erenity-intro d-flex flex-column align-items-center justify-content-center">
    <video style="margin-bottom: 1.8229166666666667vw;" #videobg1 class="videobg1C" autoplay muted loop
        style="position: absolute; pointer-events: none;" controlsList="nodownload" disablePictureInPicture playsinline>
        <source src="./assets/videos/bg2.mp4" type="video/mp4">
    </video>
    <h1 style="margin-bottom: 1.8229166666666667vw;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000"
        class="text-center ">{{'homepage.title' |
        translate}}</h1>
    <h3 style="margin-bottom: 1.8229166666666667vw;" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000"
        class="text-center"><span class="e-title">E-renity: </span>
        <span class="e-side text-white introTw2 cursor-pointer" routerLink="/aboutus/first-project"> </span>
    </h3>
    <!-- <div class="mid-nav" fxLayoutGap="35px">
        <a>All About Us</a>
        <a>All About You</a>
        <a>All About Our Relationships</a>
    </div> -->
    <button style="margin-bottom: 1.8229166666666667vw;" data-aos="zoom-in-down" data-aos-duration="1000"
        data-aos-delay="1500" routerLink="/roadmap" mat-icon-button class="btn-circle-default">
        <img src="./assets/images/scroll-down-icon.png" alt="go down">
    </button>

</div>