<div class="d-flex flex-wrap justify-content-center align-items-center pt-32 pb-32">
    
    <div class="p-relative d-flex flex-wrap justify-content-center mt-32 mb-32" >
        <div class="arrow"  data-aos="zoom-out" data-aos-anchor-placement="center-bottom" data-aos-duration="500" data-aos-delay="1000" >
            <div class="left" >
                <img src="assets/images/down-arrow.png" alt="arrow">
            </div>
            <div class="right" >
                <img src="assets/images/down-arrow.png" alt="arrow">
            </div>
        </div>
        <div class="cards"  data-aos="flip-left" data-aos-anchor-placement="center-bottom" data-aos-duration="500" >
            <div class="images">
                <div class="circle">
                    <img src="assets/images/social.png" alt="social">
                </div>
            </div>
            <div class="title">
                SOCIAL
            </div>
        </div>
        <div class="cards"  data-aos="flip-left" data-aos-anchor-placement="center-bottom" data-aos-duration="500" data-aos-delay="250" >
            <div class="images">
                <div class="circle">
                    <img src="assets/images/victim.png" alt="victims">
                </div>
            </div>
            <div class="title">
                VICTIMS
            </div>
        </div>
        <div class="cards"  data-aos="flip-left" data-aos-anchor-placement="center-bottom" data-aos-duration="500" data-aos-delay="500" >
            <div class="images">
                <div class="circle">
                    <img src="assets/images/tech.png" alt="tech">
                </div>
            </div>
            <div class="title">
                TECH
            </div>
        </div>
    </div>
</div>
