<div class="p-relative" style="overflow: hidden;">
    <div class="bg-pict"></div>
    <div class="post-covid ">
        <div class="d-flex flex-column"  >
            <div>
                <h3 data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" class="text-center">
                    <span class="e-title">{{"Post-Covid Reality" | translate}}</span>
                </h3>
            </div>
            <div class="space"></div>
            <div class="d-flex justify-content-center font-20 p-relative" >
                <div class="p-relative" data-aos="fade-in"  data-aos-duration="1000"  data-aos-anchor-placement="top-center" >
                    <div class="arrow up" >
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                    </div>
                    <p data-aos="fade-right"  data-aos-duration="1000" class="desc1 "  >{{"Chaos" | translate}}
                    </p>
                </div>
                <span class="pl-8 pr-8"></span>
                <div class="pt-32 p-relative" data-aos="fade-in"  data-aos-duration="1000"  data-aos-anchor-placement="top-center" >
                    <div class="arrow down" >
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                    </div>
                    <p data-aos="fade-left" data-aos-duration="1000" class="desc2 " >
                        {{"Serenity" | translate}} <br> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>