.landingpage .mn-left + .cdk-overlay-connected-position-bounding-box{
      left: 0 !important;
      right: 0 !important;
}
.landingpage .mn-right + .cdk-overlay-connected-position-bounding-box{
      padding-top: 15px !important;
      right: 30px !important;
}