<div class="erenity-blog">
    <div class="tp1" fxFlex fxLayout="column">
        <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro">
                <h1 class="animate__animated animate__zoomIn">Erenity Blog</h1>
                <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
                    <span routerLink="/">Home</span>
                    <mat-icon>navigate_next</mat-icon> <span routerLink="/blog">Blog</span>
                    <mat-icon>navigate_next</mat-icon> <span>Digital Economy</span>
                </div>
            </div>
            <div class="erenity-blog-content d-flex justify-content-space-between flex-wrap">
                <div class="d-flex flex-column">
                    <img src="./assets/images/blog3.jpg" alt="blog-image" height="300px" style="object-fit: cover;"
                        class="mb-60 border-5 mt-50">
                    <h3 class="mb-32 font-48">Digital Economy in Post Covid During Cyber Disruptions</h3>
                    <p class="mb-50 p-0 font-18">
                        Before covid, the world would shift to digitization, but the pandemic accelerated the shift. If
                        there were any doubts regarding the need or necessity of all the businesses to shift to online
                        business, the pandemic has closed them. During covid, all the business was closed due to
                        lockdown, curfews and shutdowns, which increased the need for digital business. So, the
                        businesses that could not run physically due to the Covid-19 pandemic were shifted online. These
                        digital technologies played an important role in low and middle-income countries.
                        <br><br>
                        In addition to that, new online businesses were also introduced to facilitate the people sitting
                        at home to buy things online. With the increase in the digital economy, cyber disruptions also
                        increased. As people started using online platforms, they usually asked for users’ personal
                        information for registration. So, cyber disruptions started increasing rapidly. User’s personal
                        information can be hacked easily, so there is a huge chance of loss of information or data from
                        online businesses like online stores, banks, hospitals, and education sectors. However, our
                        utmost duty is to provide security to our user’s data and information. This issue could only be
                        solved if serious steps were taken to increase digital serenity.
                        <br><br>
                        As digitization is increasing and the technology is getting more advanced, new ways are
                        introduced to hack any website or application very easily. To protect ourselves and our
                        businesses from these security threats, making new digital strategies and implementing them is
                        necessary. As digital technology is spreading, the risk of the impact of cyber-attacks
                        increases. For this purpose, Erenity is a platform that connects tech companies with different
                        social sectors or industries with high-security needs. It closes all the lack of linkages
                        between social and technical sectors.
                    </p>
                    <h3 class="mb-32 font-36">Lack of Linkage Between Social and Technical Sectors:</h3>
                    <p class="mb-50 p-0 font-18">
                        The pandemic proved to be a big challenge for businesses operating worldwide. Most of the
                        business in the world operates through information technology. Different types of digital
                        devices, cloud systems, and data centers play a vital role in running the online business. This
                        kind of technology is lucrative and a bigger target for different kinds of cybercriminals.
                        <br><br>
                        The world is now more digitally connected than it was many years ago. Video conferences and
                        personal meetings were also held online back then. Previously, the organizations required
                        employees to be together physically, but now strong internet connection is required to operate
                        businesses as all businesses have now shifted to online. Now mostly worldwide operating
                        businesses have their meetings online. So, businesses depend on different digital services in
                        order to retain the supply chain for fundamentals while reducing social contact. They are
                        utilizing different digital channels to pay salaries to employees.
                        <br><br>
                        Hence, cyber security should be upgraded to prevent any crisis from occurring. During covid,
                        several cybercriminals exploit cyber security as the remote working has been increased via
                        online meetings, both video and voice calls. During the Covid-19 pandemic, personal meetings
                        were held online via call or text. So, the risk of cyber-attacks increased rapidly.
                        <br><br>
                        Between February 2020 and May 2020, half a million people experienced cyberattacks in which
                        personal data and information were stolen and sold on the dark web. The digital economy produces
                        new opportunities in low or middle-income countries. As these countries aren’t much advanced,
                        their security is also low, and they can’t provide high security to the users. Before the
                        pandemic, retailers used to provide goods physically. Still, due to covid, businesses started
                        using social media apps like WhatsApp and Facebook to provide goods to the customers at their
                        homes. Some businesses build their applications, so they need strong, secure and advanced
                        applications.
                        <br><br>
                        Rapid and unplanned digitization increased the risk and impact of cyberattacks. Before covid,
                        there was a lack of linkage between social and technical sectors. Still, due to covid, the
                        remote working environment increased rapidly, so the linkage got weaker and weaker. Talking
                        about the security breach and loss of data of the users, the hackers use credential stuffing, a
                        form of cyberattack where hackers use the previously stolen usernames and passwords and get
                        access to other accounts of that person. This is possible because usually, people use usernames
                        and passwords for different accounts.
                        <br><br>
                        It is also noticed that unknown members joined virtual meetings of some businesses and got to
                        know about the personal or sensitive information of the company. The information is then sold or
                        misused for some negative cause or made available to the public to damage the company’s
                        reputation. So, these online businesses are under immense pressure to protect their companies
                        from these cyber-attacks. Companies hire white hat hackers who try to break the security wall of
                        the company’s application and go into the website or application just to know the weaknesses
                        that should be removed to improve the security.
                    </p>
                    <h3 class="mb-32 font-36">The Digital Economy in Post-Covid During Cyber Disruptions</h3>
                    <p class="mb-50 p-0 font-18">
                        Due to Covid-19, the world has gone into isolation. However, social distancing is the most
                        important pandemic because the more humans interact or meet, the more our lives would be in
                        danger. So, digitization stepped in and filled all the gaps created because of the lockdowns,
                        shutdowns, curfews and social distancing measures.
                        <br><br>
                        Without shifting our business to digital, there was no other way to make our businesses run,
                        keeping in mind the necessity of social distancing. The pandemic is a reality check for all the
                        businesses that weren't digitized or were planning to shift to digitization are now unprepared
                        as they lack digital strategies to shift to the digital market so rapidly.
                    </p>
                    <h3 class="mb-32 font-36">PWC Report on Digital Economy </h3>
                    <p>
                        According to John Sviokla, PWC’s strategy and advisory group leader, several factors affect the
                        digital economy these days. According to him, the internet is the most complex thing we come
                        across. It can help grow the economy while keeping the greatest use of technology and help us
                        get revenues in big numbers.
                        <br><br>
                        According to research conducted by PWC, the impact of the digital economy will be affected based
                        on certain factors. These factors include mobile technology, business intelligence, cloud
                        computing and social media.
                    </p>
                    <img src="./assets/images/digital1.JPG" alt="blog-image" width="500" class="mx-auto mb-32"
                        style="object-fit: contain;">
                    <p class="mb-50 p-0 font-18">
                        The data clearly shows the impact of Mobile Technologies will have the greatest impact for the
                        next 5 years or so. The other factors are also mouthwatering. Business intelligence will find
                        its way up to 39 percent in the coming years and help generate big revenues.
                        On the other hand, cloud computing also takes an important part in mobilizing the digital
                        economy of a country or a region. It gives more flexibility to the business and job
                        opportunities to people worldwide. Last is our social media like Facebook, Instagram, and
                        e-commerce websites. These are great options to expand businesses to higher levels due to the
                        many audiences available on these platforms.
                    </p>
                    <h3 class="mb-32 font-36">What does EY have to Offer for Digital Economy, Businesses and Digital
                        Disruptions?</h3>
                    <p class="p-0 font-18">The world is running on the latest trends and technologies. These
                        trends are helpful for people
                        living in any corner of the world. Globalization, digitalization and demographics have changed
                        the scenarios for people by making them aware of the fundamentals of these megatrends. However,
                        there is a slight window for the disruptions for the people having an eye to make misuses of
                        these techs. </p>
                    <ul class="mb-50">
                        <li>They need to analyze the purpose and see the future impacts of digitalization </li>
                        <li>Focus on a feasible design, build an innovative and useful platform and make sure the
                            security of the individuals</li>
                        <li>Welcome any revisions and make themselves readily available to change plans according to
                            the needs</li>
                        <li>Continue the way of working positively.</li>
                    </ul>
                    <h3 class="mb-32 font-36">Digital Disruptions as a Challenge for Companies</h3>
                    <p class="mb-50 p-0 font-18">Businesses need to look closely at the disruptions and make a demanding
                        response by using their
                        strategic schemes. It is impossible to get the required results while following the same liner
                        approach as we used in the back 90s.</p>
                    <img src="./assets/images/tb1.JPG" alt="blog-image" width="500" class="mx-auto mb-32"
                        style="object-fit: contain;">
                    <h3 class="mb-32 font-36">McKinsey Review—Before and After Pandemic Growth in Digital Economy</h3>
                    <p class="mb-50 p-0 font-18">
                        The world has gone through many difficult times during the covid days for the past few years as
                        we have lost many precious lives. The numbers suggest that over 5 million lives have been lost
                        for 2-3 years. The offline businesses were directly affected during the whole time, and the
                        world has managed to get its work done digitally. Thanks to the digital services. It has opened
                        up opportunities for people to work remotely at their homes.
                        <br><br>
                        The past years have been the year of growth and resilience for the most time. It came in the
                        form of struggles and hard work. The pandemic days were hard, but the digitalization of
                        businesses made it possible for the companies to create a sustainable and growth-effective
                        environment for the people.
                        <br><br>
                        As a senior partner at McKinsey, Dickon Pinner given a net-zero equation to elaborate the
                        capital reallocation and expected results in the digital economy for the next year.
                    </p>
                    <img src="./assets/images/digital2.jpg" alt="blog-image" width="500" class="mx-auto mb-32"
                        style="object-fit: contain;">
                    <p class="mb-50 p-0 font-18">
                        A Thorough Analysis shows that, the revenue for this reallocation could
                        easily cross a $9
                        Trillion for a single year.
                        Before Covid, only 30% of the employees in the US were working remotely 100% of the time. Other
                        70% includes people working in shops, offices, sites etc. However, because of covid, to avoid
                        social distancing, all businesses made a rapid shift to digitization which increases the risk of
                        cyber-attacks, so the need for high-security standards also increases. It is necessary to
                        provide high security to the users in such a short period.
                    </p>
                    <h3 class="mb-32 font-36">Effect of Pandemic </h3>
                    <p class="mb-50 p-0 font-18">
                        This Pandemic has affected the digital economy. States that have less income show less
                        technology usage in response to Covid-19. Such as mobile internet usage, a measure of using
                        digital technology will increase faster all over the majority of the states in the first quarter
                        of 2020. Still, this acceleration usually depends on the country's level of income. Irrespective
                        of the challenges, disruptive technologies are implemented by individuals, government and
                        businesses. The troublesome technologies are employed in emerging markets in the crisis show a
                        broad set of responses. This Pandemic is greatly affecting the digital economy the cyber
                        security.
                        <br><br>
                        There is an immeasurable great value in data, evidenced by the introduction of new services and
                        products driven by a great amount of information and data and the enhancing concern in
                        policymakers regarding the impacts of data and digitalization in our society. Therefore, the
                        issues about the digitalization of the economy are important.
                    </p>
                    <h3 class="mb-32 font-36">After Pandemic Results </h3>
                    <p class="mb-50 p-0 font-18">
                        Businesses have now moved towards home-based work, introducing social distancing in the office
                        or both. This means a great linkage between the covid-related challenges and the digital economy
                        during cyber disruptions. Hence, during digital transformation, which increased in March 2020
                        during Pandemic, cyber security was an integral concern.
                    </p>
                    <h3 class="mb-32 font-36">Erenity—The Solution for Cyber Security Problems </h3>
                    <p class="mb-50 p-0 font-18">
                        Keeping in mind all the problems technical and social sectors face regarding cyber security,
                        Erenity is the solution for all these problems. No matter your age, color, religion, gender, or
                        nationality, you must have an online presence, an account, somewhere, and be logged in on at
                        least one device. So, the security of your account, information and data is our utmost priority.
                        <br><br>
                        Erenity provides serenity for electronics security standards to protect your data, information,
                        personal details, etc. There are vulnerabilities in almost every digital system and backdoors in
                        every product. So, there is a risk that important and sensitive information can be leaked out or
                        hacked at any time. With the increase in digitization post covid, cyberattacks also increased.
                        <br><br>
                        Keeping those risks in mind, we connect tech companies to different industries with common users
                        providing security to their data, information, personal details etc. No matter if you are a
                        student, a professional, either working or studying, we take responsibility for the security of
                        your data information.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>