<div class="erenity-gain" fxFlex fxLayout="row">
    <div fxFlex.gt-sm="50" class="gain-left" fxLayout="column" fxLayoutAlign="space-between none">
        <div>
            <h3>Learn how to gain “E-renity” </h3>
            <ul>
                <li>
                    Do you keep your passwords simple and the same for a long time?
                </li>
                <li>
                    Do you use an online dating platform and you don't know that every message you send can be read by
                    hackers?
                </li>
                <li>
                    Do you still trust common anti-virus softwares?
                </li>
                <li>
                    Do you ignore incidences of accounts signing out?
                </li>
                <li>
                    Do you feel watched online and/or have already been a victim of cyberstalking?
                </li>
                <li>
                    Do you want to improve your cybersecurity as a tech professional?
                </li>
            </ul>
        </div>
        <div>
            <h2>
                Take a Survey NOW
            </h2>
        </div>
    </div>
    <div fxFlex.gt-sm="50" class="gain-rigth"  >
    </div>
</div>