<div class="tp1" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
        class="tp1-intro animate__animated animate__fadeIn">
        <h1>About Us</h1>
        <div class="d-flex align-items-center text-secondary breadcrumb">
            <span routerLink="/">Home</span>
            <mat-icon>navigate_next</mat-icon>
            <span routerLink="/aboutus">About Erenity</span>
            <mat-icon>navigate_next</mat-icon>
            <span>E-renity is Yintelligentsia's first project</span>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="tp1-content animate__animated animate__fadeInUp">
        <h3>E-renity is Yintelligentsia's first project</h3>
        <p>Instead of AI, humans can be more useful. </p>
        <p>Victims used to be victim... </p>
        <p>But at the moment when they joined E-renity, the pain and terror in cyberstalking not only decreased and
            their life ameliorated, the support they got turns them into supporters of the people who supported them-
            the cybersecurity researchers, serious academia and deligent working professionals. </p>
        <p>Fortunes always come in turn. </p>
        <p>We create a human-powered cybersecurity company in the long term. </p>
    </div>
    <div class="bg-hiring">
        <div class="erenity-revolutionary mh-100 pb-0">
            <h2 class="font-bold" data-aos="zoom-in-up" data-aos-duration="2000">
                WE ARE <br> HIRING
            </h2>
            <a class="text-white" href="mailto:recruit@e-renity.io"><button data-aos="zoom-in-up"
                data-aos-duration="3000" mat-button class="btn-theme1 mt-16">Talk
                to us and send your CV</button></a>
        </div>
    </div>
</div>