<div class="bussiness m-vh-100 pt-32 pb-32">
    <div class="d-flex flex-column"  >
        <div>
            <h3 data-aos="zoom-in" data-aos-duration="1000" class="d-flex justify-content-center ttls">
                <span class="e-title">{{"Business consultation services for cyber-disruptions" | translate}}</span>
            </h3>
        </div>
        <div class="d-flex flex-wrap justify-content-center font-20" style="z-index: 1">
            <div class="cards" data-aos="zoom-in" data-aos-duration="500" >
                <div class="title">C Suite Talk</div>
                <div class="dsc">
                    <ol>
                        <li>Cyber-risk:HOW to manage</li>
                        <li>Ride the wave of digitalisation</li>
                        <li>Lead in the distrustful world</li>
                    </ol>
                </div>
            </div>
            <div class="cards" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200">
                <div class="title">Executive training</div>
                <div class="dsc">
                    <ol>
                        <li>Optimise your digital operating model and train your employees to be more tech-savvy</li>
                        <li>What Leadership means to Your department</li>
                        <li>Cope with "Broken Culture Syndromes"</li>
                    </ol>
                </div>
            </div>
            <div class="cards" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
                <div class="title">Employee training</div>
                <div class="dsc">
                    <ol>
                        <li>Basic IT skills: Office suit debug and work setup</li>
                        <li>Improve the digital efficiency at work</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>