<div class="tp1 mh-100" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
        class="tp1-intro animate__animated animate__fadeIn">
        <h1 class="title-inprogress text-center">If you are interested in our products and services, please click <a download href="assets/pdf/download.pdf" class="btn-bg-none btn-underscore">here</a>  to download.</h1>
        <div class="d-flex align-items-center text-secondary breadcrumb">
            <span routerLink="/">Home</span>
            <mat-icon>navigate_next</mat-icon> <span>For Founders</span>
        </div>
    </div>
</div>