.e-title{
    font-size: 60px;
}
.bg{
    position: absolute;
    bottom: -10vh;
    right: -20px;
    background-color: #F4F4F4;
    height: 70vh;
    width: 27.3%;
}
.offers{
    padding: 25px 90px;
}
.ttls{
    margin-bottom: 55px;
}
.desc{
    text-align: justify;
    max-width: 700px;
}
.w-lg-50{
    width: 50%;
}
.ilustration{
    img{
        width: 100%;
    }
}