<div class="offers p-relative">
    <div class="bg"></div>
    <div class="d-flex flex-column" data-aos="fade-in" data-aos-duration="1000"   >
        <div class="ttls">
            <h3 data-aos="zoom-in" data-aos-duration="800" class="text-center">
                <span class="e-title">{{'Why do we need to relate "Abuse" and "Cybersecurity"' | translate}}</span>
            </h3>
        </div>
        <div class="d-flex justify-content-center font-20" >
            <div class="w-lg-50 ilustration d-flex align-items-center">
                <img src="assets/images/cyberbullying.webp" alt="">
            </div>
            <div class="w-lg-50 d-flex align-items-center">
                <ol class="font-20 desc" data-aos="zoom-in"  data-aos-duration="500" data-aos-delay="500" >
                    <li>Most activists are abused by technology, social justice and positive changes cannot be guaranteed without cybersecurity</li>
                    <li>Social sector lacks of trust between human interactions because their minds are engineered to receive "cyberattacks"- i.e: you can't be led by false information on social medias</li>
                    <li>Social professionals can hardly focus on the right work if they are constantly under cyberattacks</li>
                    <li>Tech professionals, however, know too little about their clients - the key group of people that in demand of cybersecurity market is essentially UNDER-SERVED.</li>
                </ol>
            </div>
        </div>
    </div>
</div>