<div class="privacy vh-100 p-relative">
    <div class="bg"></div>
    <div class="d-flex align-items-center justify-content-center h-100">
        <h3 class="ttls">
            <div class="title e-title" data-aos="zoom-in" data-aos-duration="1000" >Privacy Advocates</div>
        </h3>
        <div class="justdesc jurnalist"  data-aos="zoom-in" data-aos-duration="1000">Journalists</div>
        <div class="justdesc lawyers"  data-aos="zoom-in" data-aos-duration="1000">Lawyers</div>
    </div>
</div>