<div class="erenity-blog">
    <div class="tp1" fxFlex fxLayout="column">
        <div fxFlex fxLayout="column">
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro">
                <h1 class="animate__animated animate__zoomIn">Erenity Blog</h1>
                <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
                    <span routerLink="/">Home</span>
                    <mat-icon>navigate_next</mat-icon> <span routerLink="/blog">Blog</span>
                    <mat-icon>navigate_next</mat-icon> <span>Impact Of Cyber Disruption</span>
                </div>
            </div>
        </div>
        <div class="erenity-blog-content d-flex justify-content-space-between flex-wrap">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                    <img src="./assets/images/blog2.jpg" alt="blog-image" height="300px" style="object-fit: cover;"
                        class="mb-60 border-5 mt-50">
                    <h3 class="mb-32 font-48">Impacts of Cyber Disruptions on Our Society</h3>
                    <p class="mb-50 p-0 font-18">
                        Cyber attacks are becoming common day by day as our Critical infrastructures, economies, and
                        societies are largely dependent on computer networking. These are becoming more popular as our
                        need for technology increases with time, especially after the Covid-19 Pandemic.
                        <br>
                        <br>
                        A Symantec Cybercrime report published back in 2012 suggests that the cost of the revenues we
                        lose each year due to cyber-attacks has reached up to $114 Billion. In contrast, if the amount
                        of time and money spent to recover from these cyber attacks is counted, it shows some staggering
                        figures. It costs more than $385 Billion per year.
                    </p>
                    <img src="./assets/images/imp1.JPG" alt="blog-image" width="500" class="mx-auto">
                    <h4 class="mb-32 font-36">Why are Cyber-Attacks so Flourishing?</h4>
                    <p class="mb-50 p-0 font-18">There is a very simple answer to this question; it is not easy to find
                        out who attacked you.
                        Cyber-attacks are easier and less risky than physical attacks. Although, these might hurt you
                        more than the physical attacks. According to the research, cyber-attacks are not going to slow
                        down easily.</p>
                    <h4 class="mb-32 font-36">Who is more affected by the Cyber Attacks?</h4>
                    <p class="mb-50 p-0 font-18"> These cyber-attacks affect everyone living in our society. There are
                        businesses, banks, offices
                        etc., all of them have been victims of these attacks. The data is leaked through fake emails,
                        malware and social media. Businesses have lost billions of dollars each year by losing their
                        confidential and financial data.
                        <br><br>
                        These attacks are not only restricted to these areas. The hackers always do hacks for a purpose.
                        Doesn't matter if they want to leak personal information or do some kind of stealing. They do
                        it, and the Internet provides them with a lot weaker links to go forward.
                    </p>
                    <h4 class="mb-32 font-36">Effect of Cyber-attacks on Students</h4>
                    <p class="mb-50 p-0 font-18">
                        On the other hand, cyber-attacks are not only confined to financial losses. They can hurt even
                        more, and it happens when toxic information is spread through different means. This type of
                        attack mostly targets students who are using tons of their time on the Internet. It can lead
                        them to read or find out wrong information that can cause more problems for the society. There
                        is vicious news about the cyberattacks that happened in the pandemic. The victims of these cyber
                        attacks are found to be the students mostly.
                        <br><br>
                        Cybercriminals or hackers targeted students this past year for their attacks. A report says more
                        than 1600 schools, colleges and other educational institutes targeted ransomware only in 2020.
                        These attacks cost more than $2.73 Million to the educational institutes.
                        <br><br>
                        In July 2020, the sensitive data of more than 400000 students from the US educational institutes
                        were stolen by hackers and put on sale on different hacker forums. This data includes personal
                        information, contact details, email addresses, and home address.
                    </p>
                    <img src="./assets/images/imp2.JPG" alt="blog-image" width="500" class="mx-auto mb-32" style="object-fit: contain;">
                    <!-- <h4 class="mb-32 font-36">Bottom Line</h4> -->
                    <p class="mb-50 p-0 font-18">
                        There is a need to compose plans to restrict hackers from doing whatever they are doing to harm
                        society. It can only be done by planning strict rules and regulations and making the Internet a
                        safe place for the people. There should not be any weak links in networking. The whole world is
                        connected to one place, i.e., the Internet. So, what's required is compatibility. If a hacker is
                        doing his job, there must be someone more capable than the hacker himself to stop these crimes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>