<div class="">
    <div>
        <button class="btn-bg-none closed circle" [mat-dialog-close]>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="50px" height="50px" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
                <ellipse xmlns="http://www.w3.org/2000/svg" cx="256" cy="256" rx="256" ry="255.832" fill="#b597f6" data-original="#e04f5f" class=""></ellipse>
                <g xmlns="http://www.w3.org/2000/svg" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 77.26 32)">
                    <rect x="3.98" y="-427.615" width="55.992" height="285.672" fill="#ffffff" data-original="#ffffff" class=""></rect>
                    <rect x="-110.828" y="-312.815" width="285.672" height="55.992" fill="#ffffff" data-original="#ffffff" class=""></rect>
                </g>
            </g></svg>
        </button>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <img class="jelly-fish" src="./assets/images/jellyfish.gif" alt="jellyfish">
        </div>
        <div class="text-center mt-16  mb-16 thank-you">
            Thank You!
        </div>
    </div>
  
    <div class="mt-32 text-center" >   
        <button mat-button class="btn-base" [mat-dialog-close] >OK</button>
    </div>
</div>
