<div class="min-vh-100 p-4 p-relative">
    <div>
        <h3 data-aos="zoom-in" data-aos-duration="1000" class="d-flex justify-content-center ttls">
            <span class="e-title">E-renity is EndAbuse tier 2 project</span>
        </h3>
    </div>
    <div class="d-flex align-items-center justify-content-center pt-4 pb-2" data-aos="zoom-in" data-aos-duration="1000">
        <div class="p-relative charts ">
            <div class="line-1 line"></div>
            <div class="line-2 line"></div>
            <div class="line-3 line line-arrow-right"></div>
            <div class="line-4 line line-arrow-right"></div>
            <div class="line-5 line"></div>
            <div class="line-6 line line-arrow-left"></div>
            <div class="line-7 line"></div>
            <div class="line-8 line"></div>
            <div class="line-9 line"></div>
            <div class="line-10 line"></div>
            <div class="line-11 line line-arrow-bottom"></div>
            <div class="line-12 line"></div>


            <div class="erenity-special">E-renity special</div>
            <div class="sdts">SDTs + Individually tailored programs</div>
            <div class="e-renity">E-renity</div>
            <div class="tech">Tech</div>
            <div class="social">Social</div>
            <div class="outreach">Outreach to security firms</div>
            <div class="industry">
                <div class="csind">Cybersecurity industry</div>
                <div class="allind">All other tech industry</div>
                <div class="line line-i-1"></div>
            </div>
            <div class="ve">
                <div class="victim mb-16">Victim Support</div>
                <div class="abuse mt-16">General Abuse Education</div>
                <div class="end-abuse">End(t)Abuse</div>

                <div class="line line-1-2"></div>
                <div class="line line-1-3"></div>
            </div>
            <div class="otsr">Outreach to non-profits</div>
            <div class="endAbuse">EndAbuse</div>
        </div>
    </div>
    <div class="mt-32 d-flex align-items-center justify-content-center pt-4 pb-2" data-aos="zoom-in" data-aos-duration="1000">
        <div class="p-relative charts2 ">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>

            <div class="endAbuse">EndAbuse</div>
            <div class="human-abuse">Human Abuse</div>
            <div class="tech-abuse">Tech Abuse</div>
            <div class="ha">
                <div class="line line-1-1"></div>
                <div class="domestic">Domestic Violence</div>
                <div class="discriminations">Discriminations</div>
            </div>
            <div class="ta">
                <div class="line line-1-1"></div>
                <div class="line line-1-2"></div>
                <div class="end-abuse">End(t)Abuse</div>
                <div class="victim">Victim Support</div>
                <div class="general">General Abuse Education</div>
            </div>
        </div>
    </div>
    <div class="pt-4 pb-32">
        <div class="d-flex justify-content-center">
            <div style="max-width: 800px;" class="w-100">
                <div class="font-24" data-aos="zoom-in-left" data-aos-duration="1000">
                    E-renity is essentially End(t)Abuse  
                </div>
                <div class="text-right font-24" data-aos="zoom-in-right" data-aos-duration="1000">
                    - end technological abuse!  
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" data-aos="zoom-in-down" data-aos-duration="1000">
            <div class="font-24" style="width: 90%;max-width: 1000px;">
                But there's more...
            </div>                  
        </div>
    </div>
</div>