<div class="comment p-relative">
    <div class="bggry"></div>
    <h3 data-aos="zoom-in-down" data-aos-duration="1000" class=" ttl">
        <span class="e-title">Comments to the whole landscape of E-renity <br> and Founder Elisabeth</span>
    </h3>
    <div class="d-xl-flex cmnt flex-wrap"  >
        <div class="left w-lg-50">
            <div>
                <div class="w-100 text-center d-flex justify-content-center">
                    <div class="bont"  data-aos="zoom-in"  data-aos-duration="500">
                        <div class="tgl"  data-aos="zoom-out-down"  data-aos-duration="2000"></div>
                        <div class="p-relative"  data-aos="zoom-in-up"  data-aos-duration="1300" >
                            <div class="cntnt"  ></div>
                            <div class="circle" >
                                <img src="assets/images/douglas.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right font-20 w-lg-50 d-flex align-items-center" data-aos="zoom-in"  data-aos-duration="1000">
            <span class="quotes bck">"</span>
            <div>
                <div class="the-comments">
                    This all looks good and promising. You are extremely bright and what you are up to is important. 
                </div>
                <div class="from-who">
                    - Senior Lecturer Douglas Ready, MIT Sloan School of Management
                </div>
            </div>
            
            <span class="quotes ">"</span>
        </div>
    </div>
</div>