<div class="tp1 " fxFlex fxLayout="column">
    <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro">
            <h1 class="animate__animated animate__zoomIn">About Erenity</h1>
            <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
                <span routerLink="/">Home</span>
                <mat-icon>navigate_next</mat-icon> <span>About Erenity</span>
            </div>
        </div>
    </div>
    <div class="tp1-content-3 mh-100">
        <mat-tab-group>
            <mat-tab label="Founder’s story" class="font-18">
                <h3>Founder Elisabeth’s Self Statement</h3>
                <div class="d-flex align-items-center justify-content-center mb-16 mt-16">
                    <img class="img-circled" src="./assets/images/elisabeth.jpg" width="300" height="300"
                        alt="Elisabeth">
                </div>
                <p class="font-18">The first 16 years of my life spent in a rapid-growing, economy-centered, generally
                    monolingual eastern
                    country, China, being vegan in my non-vegan friendly hometown Hangzhou dated back in 2014, and under
                    the
                    spiritual guidance of veganism, consequently exploring Kantian philosophy and the intersection
                    between
                    Buddhism and Christianity during a volunteering trip to Nepal as an English teacher, were proofs
                    that I
                    am
                    outsider of traditional Chinese education system. Although, like a typical good Chinese student, I
                    partook
                    in leadership roles, math Olympiads, and public speech and performing arts contests, all my traumas
                    and
                    dramas inevitably tied to my home, hometown and home country propelled me to learn politics, Sino-US
                    relations, and feminist studies. In the process, mathematics has been my light of intellectual
                    guidance
                    and
                    pillar of life. During my study in UC San Deigo in 2018 Fall, I fell into the victim of crimes-
                    cyberstalking and sexual harassment derived from the technological method. Helpless, depressing, and
                    for
                    me
                    “all is over”. 2020, I initiated anti-sexual harassment project and was an advocate for human rights
                    in
                    China. Things have been working well! In the same year June anti-sexual harassment law was published
                    first
                    time in the history; 2021 Jan, human rights journal brought up the digital privacy rights issue and
                    in
                    August, Personal Information Protection Law was born.
                </p>
                <p class="font-18 v-hidden" [ngClass]="{'animate__animated animate__zoomIn v-visible':showText1}">
                    2021 July, the idea of E-renity was born when I was in Shanghai and I decide to seriously found a
                    project. I
                    want to mark the half milestone of me fighting against hackers.
                </p>
                <p class="font-18 v-hidden" [ngClass]="{'animate__animated animate__zoomIn v-visible':showText1}">
                    Through cyberstalking I learned how evildoers disguise themselves and the precautions we need to
                    take in
                    this digital age. The curiosity to learn cryptography in end-to-end encryption, had me finished a
                    textbook
                    when I was on a flight to London to escape stalking in US. When I talked to people about the
                    experience
                    that
                    shoot me down from the intellectual, democratic cushion for elites, and the cause to found the
                    project,
                    I
                    often find those who’re interested in the illuminating sides of the project, can’t empathise with
                    me;
                    those
                    who empathise with me, can’t help me. It seems the volume of sadness in my story is simply too huge
                    that
                    they couldn'’'t possibly partake. I agree, I can’t take so much either. I’m a human being. I need
                    help,
                    but
                    I'm alone, so-said talented yet so alone. But does the world not need me? At least my home country
                    says
                    “NO”.
                </p>

                <p class="font-18 v-hidden" [ngClass]="{'animate__animated animate__zoomIn v-visible':showText2}">
                    All the sadness has an end in China. So did mine. This is a country with heavy history and was once
                    tarnished, bullied, robbed and now, despite being defamed and its people being discriminated abroad,
                    it’s
                    been rebuilt, re-prospered, and stepped into a truly innovative age. I would hence declare my rights
                    based
                    on my own suffering that all is equal and technological control has a limit.
                </p>

                <p class="font-18 v-hidden" [ngClass]="{'animate__animated animate__zoomIn v-visible':showText3}">
                    Talk to me for project details. I am right here, alive, and I will eventually have my book, my
                    movie,
                    and I
                    want everyone to achieve their best in their life. I see one’s value and I bet on it - “I exist
                    because
                    I
                    want to”<br> <br>

                    Together for a better tomorrow.
                </p>

                <h3>Dating & Cyberstalking</h3>
                <p class="font-18">The story starts from the famous dating app, Okcupid, which was founded by a group of
                    Havard Math
                    graduates to facilitate dating for like-minded singles whose majors are in STEM as well. I, as an
                    aspiring mathematician at that time, July 2017, downloaded this famous app and started dating in
                    California. At the time it was portrayed by the medias as a successful dating story with the
                    mathematician from UCLA Chris McKinlay hack to Okcupid to get 30,000 matches. <br> <br>
                    A year later, December 2018, I met my cyberstalker who compromised Okcupid platform, gaining my
                    personal details after already being benefitted from a massive hack in Apple’s iCloud database (in
                    which case Apple was undergoing its very first historical invent in cyber emergency), and my
                    cyberstalker, who had more than ample information, started to stalk, intimidate and terrorise me
                    using Okcupid platform by writing my real life events on random dating profiles of strangers,
                    combining my personal details to make it only identifiable to me. In the next year February, we
                    finally heard news from TechCrunch that Okcupid’s server got hacked resulting in millions of users
                    information being leaked.
                    <br><br>
                    I fought this cyberstalking in the entire 2019 alone and have been the advocate for cyberstalking
                    and written reports to not only the police, but Apple, US Federal Trade Union and other tech
                    companies about their security flaws. I received no follow-ups and no solid help.
                    <br><br>
                    Now, the dating method employed in successful stories since 2017 has suggested a dark side. Hacking
                    a dating server, once the glory, now a shame.
                    <br><br>
                    In the beginning of 2020, I saw Apple silently put a “report a bug” feature on their official
                    website which encourages reports from consumers of any security bugs in IOS/OS systems. I wonder if
                    my passionate letter in 2019, written in a lonely time in Scotland, travelling, escaping from
                    distress, actually worked for Apple to realise that, things have not been perfect.
                    <br><br>
                    Two years later, in 2021, I met my so-called “Mr.Lucky”, who was, also, hacking a dating app-
                    Tinder. Over a video call, this charming man showed me how he created a software to fetch all female
                    faces on Tinder and pick the one he likes best. This suggests a data breach from Tinder’s backend.
                    We met through Tinder, talked on Telegram, and ended our correspondence with my experience of
                    cyberstalking and hacking in the last 3 years- the truth turned out to be, if the golden time has a
                    place to stop, as if what was praised at first would last, he was yet another data scientist hacking
                    a dating platform. Anyone who has the knowledge about programming and hacking will be able to see
                    through what’s inside everyone’s inbox on Tinder or Okcupid (of course the same as emails).
                    <br><br>
                    I and Mr. Lucky ended up arguing, about mathematics every time. If not math, then it was always some
                    other intellectual point. However, in his lens, I was the math girl he found amongst probably
                    another 30,000 matches of women. When my math fellows from Harvard created Okcupid, have they
                    thought about how many more bright, young and ambitious mathematicians, if not physicists, would be
                    fished, hacked, slightly stalked or otherwise severely cyberstalked, whilst enjoying all of this
                    intellectual encounters and interesting romances?
                    <br><br>

                    The same as Tor, GitHub, and many other forums and platforms, they stand neutral and let people use
                    what they can.
                    <br><br>

                    E-renity is not a neutral platform. We firmly protect our academia’s spirit and drive to explore the
                    world morally, we stand by our pure theorists who didn’t quite have the time to learn the technical
                    skills required for cybersecurity. I personally was one of whom living only in the highly abstract
                    mathematical world that once hitting on the cold ground of technological abuse, I was losing all of
                    the orderly components of my being. I seized my bright side with tremendous efforts and now want to
                    create this platform.
                    <br><br>

                    E-renity, however, is open to all. We stand always in the light, but we do appreciate if red hackers
                    turn white and would like to work in cybersecurity and protect citizens instead. We understand that
                    it would be a hard journey to emerge from the shadow and look at this world differently. We have
                    something for you to consider, and a job offer is guaranteed after completing our special designed
                    test and individually tailored program. Again, this is for everyone.
                </p>

                <h3 class="text-center mt-50">Evidence Collection</h3>
                <div class="d-flex mt-32 justify-content-center mb-50" ngClass.xs="flex-column align-items-center">
                    <mat-card class="example-card mr-32 mb-32 mat-elevation-z4">
                        <mat-card-header>
                            <mat-card-title>Eventlog</mat-card-title>
                        </mat-card-header>
                        <img style="object-fit: cover;" height="350px" mat-card-image
                            src="https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"
                            alt="photo">
                        <mat-card-content>
                            <p>
                                All event log is still in process
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/inProgress">Read More</button>
                        </mat-card-actions>
                    </mat-card>
                    <mat-card class="example-card mb-32 mat-elevation-z4">
                        <mat-card-header>
                            <mat-card-title>Lists of viruses received</mat-card-title>
                        </mat-card-header>
                        <img style="object-fit: cover;" height="350px" mat-card-image
                            src="https://images.unsplash.com/photo-1586448910433-965efd06eb38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
                            alt="photo">
                        <mat-card-content>
                            <p>
                                All lists of viruses is still in process
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/inProgress">Read More</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="What defines E-renity?" class="font-18">
                <h3>E-renity</h3>
                <p class="font-18 mt-16">
                    E-renity is Yintelligentsia`s first project. We create a platform between social and tech sectors to
                    improve
                    the world`s singlemost stressing problem- cybersecurity. Through individually tailored programs all
                    professions from social sectors are able to learn from tech sectors from a free awareness
                    improvement to
                    hands-on technical skills.
                </p>
                <p class="font-18">
                    E-renity is a project invented by CEO Elisabeth and based on her real victim
                    experience in cyberstalking when she was at her 3rd year university of UC San Diego. This project is
                    going
                    to completely change the societies and rebuild western definition of "trust" immediately after it is
                    out
                    on
                    the stage. However after China published Personal Information Protection Law in August, 2021 and
                    with
                    more
                    demand on internet safety and privacy concern rise, the market here is also growing.
                </p>
                <p class="font-18">
                    The creation of such a
                    platform to connect people from tech industry and social sector together to work on cybersecurity
                    with
                    the
                    latest, most advanced datas and news- it's a strong, effective union and eventually will give birth
                    to
                    our
                    unique security products based on our databases through years of experience after startup, then
                    Yintelligentsia will be the single most authoritative source for cyber defence after covid.
                </p>
                <p class="font-18">In short, the part of E-renity that concerns psychology and socio-economic changes
                    demonstrating
                    on victim support programs overlaps with one crucial part of EndAbuse. </p>
                <h3 class="mb-32"  ngClass.xs="text-center">List of resources and organizations that will be in our
                    social support</h3>
                <div class="d-flex flex-wrap" ngClass.gt-sm="justify-content-space-between"
                    ngClass.xs="justify-content-center">
                    <div style="width:200px" ngClass.gt-sm="mt-32 mr-32 mb-32" ngStyle.gt-md="width:264px">
                        <img src="./assets/images/apahe.jpg" style="width: 100%; height: 130px; object-fit: contain;"
                            alt="">
                        <p class="text-center font-18">Asian Pacific Americans in Higher Education (APAHE)</p>
                    </div>
                    <div style="width:200px"  ngClass.gt-sm="mt-32 mr-32 mb-32" ngStyle.gt-md="width:264px">
                        <img src="./assets/images/faces.png" style="width: 100%; height: 130px; object-fit: contain;"
                            alt="">
                        <p class="text-center font-18">Stanford FACES Beijing</p>
                    </div>
                    <div style="width:200px"  ngClass.gt-sm="mt-32 mr-32 mb-32" ngStyle.gt-md="width:264px">
                        <img src="./assets/images/WiG.png" style="width: 100%; height: 130px; object-fit: contain;"
                            alt="">
                        <p class="text-center font-18">Women in German (WiG)</p>
                    </div>
                    <div style="width:200px"  ngClass.gt-sm="mt-32 mr-32 mb-32" ngStyle.gt-md="width:264px">
                        <img src="./assets/images/AWM.png" style="width: 100%; height: 130px; object-fit: contain;"
                            alt="">
                        <p class="text-center font-18">Association for Women in Mathematics (AWM)</p>
                    </div>
                    <div style="width:200px"  ngClass.gt-sm="mt-32 mr-32 mb-32" ngStyle.gt-md="width:264px">
                        <img src="./assets/images/EFF.png" style="width: 100%; height: 130px; object-fit: contain;"
                            alt="">
                        <p class="text-center font-18">Electronic Frontier Foundation</p>
                    </div>
                    <div style="width:200px"  ngClass.gt-sm="mt-32 mr-32 mb-32" ngStyle.gt-md="width:264px">
                        <img src="./assets/images/DF.png" style="width: 100%; height: 130px; object-fit: contain;"
                            alt="">
                        <p class="text-center font-18">Digital First</p>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div fxFlex fxLayout="row" class="tp1-content-2 animate__animated animate__fadeIn">
        <div fxLayoutAlign="center center" [routerLink]="['/aboutus/endabuse-project']"
            routerLinkActive="router-link-active" class=" tp1-c-2-1 ">
            <h3 class="cursor-pointer">E-renity is an EndAbuse tier 2 project</h3>
        </div>
        <div class="tp1-c-2-2" fxLayout="column" fxLayoutAlign="center start">
            <a href="https://en.wikipedia.org/wiki/Questioning_(sexuality_and_gender)#:~:text=Becoming%20aware%20of%20sexual%20feelings,different%20outcomes%20for%20different%20individuals"
                target="_blank">Confusions about Sexualities</a>
            <a href="https://en.wikipedia.org/wiki/Domestic_violence" target="_blank">Domestic Abuse studies</a>
            <a href="https://en.wikipedia.org/wiki/Social_exclusion" target="_blank">Marginalised Individuals
                studies</a>
            <a href="https://en.wikipedia.org/wiki/Racism" target="_blank">Racism conceptualism</a>
            <a href="https://en.wikipedia.org/wiki/Sociology" target="_blank">Socio, economic, political influence from
                hacking events</a>
            <a routerLink="/aboutus/tier1-ontological" target="_blank">Tier 1 ontological, philosophical,
                mathematical</a>
        </div>
    </div>
    <div fxFlex fxLayout="row" class="tp1-content-2 animate__animated animate__fadeIn">
        <div fxLayoutAlign="center center" class=" tp1-c-2-1 ml-50" [routerLink]="['/aboutus/first-project']"
            routerLinkActive="router-link-active">
            <h3 class="cursor-pointer">E-renity is Yintelligentsia's first project</h3>
        </div>
    </div>
</div>