<div class="tp1" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
        class="tp1-intro animate__animated animate__fadeIn">
        <h1>Work With Us</h1>
        <div class="d-flex align-items-center text-secondary breadcrumb">
            <span routerLink="/">Home</span>
            <mat-icon>navigate_next</mat-icon> <span routerLink="/about-our-relationship">About Our Relationship</span>
            <mat-icon>navigate_next</mat-icon> <span>Work With Us</span>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="tp1-content-4">
        <mat-tab-group class="mh-100">
            <mat-tab label="Work Ethics" class="font-18">
                <div fxFlex fxLayout="row" class="mb-60 mt-32" fxLayoutGap="32px">
                    <div fxFlex fxLayout="column">
                        <h3 fxFlex="70" class="mr-32">Work Ethics
                            <div class="tp-border"></div>
                        </h3>
                        <p class="mb-32">The future is for future generation, but when we hand over the leadership and
                            the
                            dynamics of culture
                            accordingly change, what do we want to learn from last generations and the old doctrines
                            that still
                            sustain us even in post-Covid?</p>
                        <p class="mb-32">Work Ethics is like committing to traditions, to the set rule that consists of
                            <a routerLink="/inProgress" class="tp-links-yellow">time</a>,
                            quality and self-assessment mechanism.
                            During the self-assessment procedure, self
                            reflectionis also
                            a big part. So high awareness of time, capability to deliver high quality service or
                            accomplish high
                            quality projects, are the skills are looking out on you and will have you develop if you
                            currently
                            struggling to have. Please refer to our internal training material (one of our products
                            usually
                            purchased by the client)
                        </p>
                        <p class="mb-32">If you are an ambitious youngster looking to expand your networking and
                            leadership
                            skills on a global platform, you are a rising junior looking to do an intern to learn about
                            Asia
                            Pacific markets,
                            AND if you would be willing to commit to the most exciting and exercising E-renity journey,
                            we are
                            glad to be your choice. </p>
                        <p>Please sign up on our <a routerLink="/membership/joiner-board" class="tp-links-yellow">joinee
                                board</a> and then
                            look into <a routerLink="/inProgress" class="tp-links-yellow">here</a></p>
                    </div>
                    <div fxFlex="30">
                        <img src="./assets/images/wws-1.png" alt="">
                    </div>
                </div>
                <div fxFlex fxLayout="column" class="mb-60" fxLayoutGap="32px">
                    <h3 class="mr-32 mb-0">Internal Training Material
                        <div class="tp-border"></div>
                    </h3>
                    <p>The trainings E-renity provides are all internal and will be provided to our business clients all
                        the
                        same. It is essentially a product we are developing, but as a E-renity member you enjoy the
                        benefits to
                        get the training for FREE.</p>
                </div>
                <div fxFlex fxLayout="column" class="mb-60" fxLayoutGap="32px">
                    <h3 class="mr-32 mb-0">Commitment to E-renity
                        <div class="tp-border"></div>
                    </h3>
                    <p>After you become a member of E-renity...


                        Your responsibility is THE cornerstone of how you can succeed within the project, above and
                        beyond.

                        You have to take the responsibility to not only learn, but THE responsibility to learn to fly.

                        Eventually you are comfortable in this inter-connected digital world within this 7.5 billion
                        network and
                        transition yourself fully and truly a global citizen. </p>
                </div>
            </mat-tab>
            <mat-tab label="Cybersecurity of a Cybersecurity Project" class="font-18">
                <div fxFlex fxLayout="column" class="mb-60 mt-32" fxLayoutGap="32px">
                    <h3 class="mr-32 mb-0">Cybersecurity of a Cybersecurity Project
                        <div class="tp-border"></div>
                    </h3>
                    <p>Cybersecurity is already the battling field. So when E-renity was born, we do it differently and
                        more close to actual needs of people. However, we know that “security” is not 100% predicable,
                        so we invest our energies and ensure lots of grants in research, mathematical modeling and
                        quantum-safe computing. This is the cybersecurity underlying our social-tech project - we will
                        have our security product in the next development stage.</p>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>