<div class="issue-post">
    <div class="d-flex flex-column"  >
        <div>
            <h3 data-aos="zoom-in" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="text-center">
                <span class="e-title">{{"Issues in Post-Covid" | translate}}</span>
            </h3>
        </div>
        <div class="d-flex justify-content-center font-20" >
            <p data-aos="fade-right" data-aos-duration="1000" class="desc1 " data-aos-anchor-placement="top-center" >{{"More chaos" | translate}}
            </p>
            <span class="pl-8 pr-8"></span>
            <p data-aos="fade-left" data-aos-duration="1000" class="desc2 " data-aos-anchor-placement="top-center" >
                {{"Less serenity" | translate}} <br> <br>
            </p>
        </div>
    </div>
</div>