.e-title{
    font-size: 60px;
}
.bg{
    position: absolute;
    top: 25%;
    left: -100px;
    background-color: #F4F4F4;
    height: 60vh;
    width: 27.3%;
}
.contain{
    padding: 30px 90px;
}
.ttls{
    margin-bottom: 55px;
}
.desc{
    text-align: justify;
    max-width: 700px;
    li{
        font-size: 18px;
        line-height: 2;
    }
}
.w-lg-50{
    width: 50%;
}
.ilustration{
    img{
        width: 100%;
    }
}