<div class="tp1 " fxFlex fxLayout="column">
    <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro">
            <h1 class="animate__animated animate__zoomIn font-36">Tier 1 Ontological, Philosophical, Mathematical</h1>
            <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
                <span routerLink="/">Home</span>
                <mat-icon>navigate_next</mat-icon> <span routerLink="/aboutus">About Erenity</span>
                <mat-icon>navigate_next</mat-icon> <span>Tier 1 Ontological, Philosophical, Mathematical</span>
            </div>
        </div>
    </div>
    <div class="tp1-content-3 mh-100">
        <mat-tab-group>
            <mat-tab label="Linguistics & Natural Languange processing" class="font-18">
                <h3>Linguistics </h3>
                <p class="font-18">
                    Linguistics is the scientific study of human language, meaning that it is a comprehensive,
                    systematic, objective, and precise study of language. Linguistics encompasses the analysis of
                    every aspect of language, as well as the methods for studying and modelling them. <br> <br>
                    The traditional areas of linguistic analysis include phonetics, phonology, morphology, syntax,
                    semantics, and pragmatics.[4] Each of these areas roughly corresponds to phenomena found in human
                    linguistic systems: sounds (and gesture, in the case of signed languages), minimal units (phonemes,
                    words, morphemes), phrases and sentences, and meaning and its use.
                </p>
                <a class="text-underline" href="https://en.wikipedia.org/wiki/Linguistics" target="_blank"><small>Source
                        from
                        wikipedia</small></a>
                <h3>Natural Languange processing </h3>
                <p class="font-18">
                    Natural language processing (NLP) is a subfield of linguistics, computer science, and artificial
                    intelligence concerned with the interactions between computers and human language, in particular how
                    to program computers to process and analyze large amounts of natural language data. The goal is a
                    computer capable of "understanding" the contents of documents, including the contextual nuances of
                    the language within them. The technology can then accurately extract information and insights
                    contained in the documents as well as categorize and organize the documents themselves.
                </p>
                <a class="text-underline" href="https://en.wikipedia.org/wiki/Natural_language_processing"
                    target="_blank"><small>Source from
                        wikipedia</small></a>
            </mat-tab>
            <mat-tab label="Mathematical sociology">
                <h3>Mathematical sociology</h3>
                <p class="font-18">
                    Mathematical sociology or the sociology of mathematics is an interdiscplinary field of research
                    concerned both with the use of mathematics within sociological research as well as research into
                    the relationships that exist between maths and society.
                    <br><br>
                    Because of this mathematical sociology can have a diverse meaning depending on the authors in
                    question and the kind of research being carried out. This creates contestation over whether
                    mathematical sociology is a derivative of sociology, an intersection of the two disciplines, or a
                    discipline in its own right.[4] This is a dynamic, ongoing academic development that leaves
                    mathematical sociology sometimes blurred and lacking in uniformity, presenting grey areas and need
                    for further research into developing its academic remit.
                </p>
                <a class="text-underline" href="https://en.wikipedia.org/wiki/Mathematical_sociology"
                    target="_blank"><small>Source from
                        wikipedia</small></a>
            </mat-tab>

            <mat-tab label="Ratiocination">
                <h3>Ratiocination</h3>
                <p class="font-18">
                    Reason is the capacity of consciously applying logic by drawing conclusions from new or existing
                    information, with the aim of seeking the truth. It is closely associated with such
                    characteristically human activities as philosophy, science, language, mathematics, and art, and is
                    normally considered to be a distinguishing ability possessed by humans. Reason is sometimes
                    referred to as rationality.
                    <br><br>
                    Reasoning is associated with the acts of thinking and cognition, and involves using one's intellect.
                    The field of logic studies the ways in which humans can use formal reasoning to produce logically
                    valid arguments. Reasoning may be subdivided into forms of logical reasoning, such as: deductive
                    reasoning, inductive reasoning, and abductive reasoning. Aristotle drew a distinction between
                    logical discursive reasoning (reason proper), and intuitive reasoning, in which the reasoning
                    process through intuition—however valid—may tend toward the personal and the subjectively opaque. In
                    some social and political settings logical and intuitive modes of reasoning may clash, while in
                    other contexts intuition and formal reason are seen as complementary rather than adversarial. For
                    example, in mathematics, intuition is often necessary for the creative processes involved with
                    arriving at a formal proof, arguably the most difficult of formal reasoning tasks.
                </p>
                <a class="text-underline" href="https://en.m.wiktionary.org/wiki/ratiocination"
                    target="_blank"><small>Source from
                        wikipedia</small></a>
            </mat-tab>

            <mat-tab label="Symbolic Logic">
                <h3>Symbolic Logic</h3>
                <p class="font-18">
                    Leopold Löwenheim and Thoralf Skolem obtained the Löwenheim–Skolem theorem, which says that
                    first-order logic cannot control the cardinalities of infinite structures. Skolem realized that this
                    theorem would apply to first-order formalizations of set theory, and that it implies any such
                    formalization has a countable model. This counterintuitive fact became known as Skolem's paradox.
                    <br><br>
                    In his doctoral thesis, Kurt Gödel proved the completeness theorem, which establishes a
                    correspondence between syntax and semantics in first-order logic.[29] Gödel used the completeness
                    theorem to prove the compactness theorem, demonstrating the finitary nature of first-order logical
                    consequence. These results helped establish first-order logic as the dominant logic used by
                    mathematicians. The first textbook on symbolic logic for the layman was written by Lewis Carroll,
                    author of Alice in Wonderland, in 1896
                </p>
                <a class="text-underline" href="https://en.wikipedia.org/wiki/Mathematical_logic#Symbolic_logic"
                    target="_blank"><small>Source from
                        wikipedia</small></a>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>