<div *ngIf="this.firstTimePopLeft" class="survey-fly animate__animated animate__slideInLeft" routerLink="/survey">
    <!-- <span class="introTw"></span> -->
    <mat-icon>edit</mat-icon>
</div>
<app-intro class="home" (scrollTo)="scrollTo($event)"></app-intro>
<app-aboutus class="about"></app-aboutus>
<app-quote1 class="quote1"></app-quote1>
<app-about2 class="about2"></app-about2>
<app-our-service class="services"></app-our-service>
<app-survey class="survey"></app-survey>
<app-joyn-product class="joyn-product"></app-joyn-product>
<app-revolutionary class="revolutionary"></app-revolutionary>