<div class="tp1" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="tp1-intro ">
            <h1 class="animate__animated animate__zoomIn">Products and Services</h1>
            <div class="d-flex align-items-center text-secondary breadcrumb animate__animated animate__zoomIn">
                <span routerLink="/">Home</span>
                <mat-icon>navigate_next</mat-icon> <span>Products and Services</span>
            </div>
        </div>
        <div class="bg-yellow4 d-flex pb-32 justify-content-center align-items-end btdwn">
            <div id="wrapper">
                <div id="wrapper-inner">
                    <div id="scroll-down">
                        <span class="arrow-down">
                        <!-- css generated icon -->
                        </span>
                        <span (click)="gotoProductContent()" id="scroll-title">
                        Scroll down
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow-y: auto;overflow-x:hidden;" id="product-content">
            <issue-post-covid></issue-post-covid>
            <post-covid-reality></post-covid-reality>
            <post-covid-demand></post-covid-demand>
            <erenity-offers></erenity-offers>
            <erenity-comments></erenity-comments>
            <products></products>
            <bussines-consultant></bussines-consultant>
            <privacy-advocates></privacy-advocates>
            <social-victims-tech></social-victims-tech>
            <end-abuse></end-abuse>
            <abuse-and-security></abuse-and-security>
            <trust-recontruction></trust-recontruction>
            <trust-rebuilt></trust-rebuilt>
            <tech-trust-tommorow></tech-trust-tommorow>
            <social-tech></social-tech>
        </div>
       
    </div>
</div>