<div class="erenity-about2 d-flex flex-column">
    <div>
        <h3 data-aos="zoom-in" data-aos-duration="1000" class="text-center">{{"about2.title" | translate}}</h3>
    </div>
    <div class="d-flex flex-column">
        <p data-aos="zoom-in" data-aos-duration="1000" class="desc1">{{"about2.p1" | translate}}
        </p>
        <p data-aos="zoom-in" data-aos-duration="1000" class="desc2" data-aos="zoom-in" data-aos-offset="300">
            {{"about2.p2" | translate}} <br> <br>
            <span class="text-center">{{"about2.span" | translate}}</span>
        </p>
    </div>
</div>