<div class="tp1" fxFlex fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
        class="tp1-intro animate__animated animate__fadeIn">
        <h1 class="text-center font-48">Book Consultation</h1>
        <div class="d-flex align-items-center text-secondary breadcrumb">
            <span routerLink="/">Home</span>
            <mat-icon>navigate_next</mat-icon> <span routerLink="/aboutyou">About You</span>
            <mat-icon>navigate_next</mat-icon> <span>Book Consultation</span>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="tp1-content-5">
        <div fxFlex fxLayout="column" class="mb-60">
            <h3 fxFlex class="mr-32">Video Chat
                <div class="tp-border"></div>
            </h3>
            <div fxFlex class="tp1-content-5-1">
                <p>But I do charge $60 per minute, for answering any queries for any topic you want, with my
                    whole-hearted help as I experienced severe cyberstalking too. The earlier you book with me, the
                    earlier you get the correct guidance and mental consolation. I won't judge you. Everyone has made
                    wrong decision in their life. Starts to make the right one NOW

                    <br><br>
                    I also will provide technical support within my knowledge, if not I will connect you to someone in
                    our program that's capable to help you. Before you enter your ZOOM room, you are required to enter
                    your credit card details. After the session ends, you can rate our chat and say whatever you want.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <button mat-button class="btn-theme1 mt-32 mb-32" (click)="onBeMembership('Book Consultation Video Chat')">Get
                        Started</button>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="column" class="mb-60">
            <h3 fxFlex class="mr-32">Live Online Chat With Someone Else
                <div class="tp-border"></div>
            </h3>
            <div fxFlex class="tp1-content-5-1">
                <p>
                    Professional Social Workers : $ 45 / hour
                    <br><br>
                    Professional Psychologists: $ 139 / hour
                    <br><br>
                    Professional Technicians: $ 45 / hour
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <button mat-button class="btn-theme1 mt-32 mb-32" (click)="onBeMembership('Book Consultation Live Online')">Get
                        Started</button>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="column" class="mb-60">
            <h3 fxFlex class="mr-32">Crime Report
                <div class="tp-border"></div>
            </h3>
            <div fxFlex class="tp1-content-5-1">
                <p>Email writing to help report to the designated authority that deals with the kind of cyber crimes you
                    are experiencing. We have a list of agencies in our databases which could help take actions against
                    cyber crimes.
                    <br><br>
                    But we would need your documents and enough evidence to drop this report.
                    <br><br>
                    We understand how stressful it is as a victim of cybercrimes and how hopeless you are likely to be
                    in front of reporting.
                    <br><br>
                    Schedule a call with us for free consultation in regard to a cybercrime email report, professionally
                    written with technical terms.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <button mat-button class="btn-theme1 mt-32 mb-32" (click)="onBeMembership('Book Consultation Crime Report')">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</div>