<div class='privacy'>
    <div class='privacy-content'>
        <div class='privacy-content-scroll'>
            <h3 class='privacy-header'>Privacy Notice</h3>
            <span style="line-height: 1.5;">The following paragraphs explain how your personal data will be treated. This policy may be updated
                from time to time. </span>
            <ol>
                <li>
                    <p>We may collect, use or disclose the Personal Data which you provide to us for the Purpose
                        described in Erenity Data Protection Policy, including the provision of Services, storage,
                        analytical or dispute resolution purposes, as well as, to comply with applicable laws,
                        regulations and Erenity internal policies. Capitalized terms used in this form and not
                        expressly defined shall have the same meaning as set out in Erenity Data Protection Policy.
                    </p>
                </li>
                <li>
                    <p>We may also transfer your Personal Data to Erenity employees, officers, directors, clients
                        (and its agents), suppliers (including but not limited to IT providers, financial and legal
                        advisors), authorities and to other Erenity affiliates, based locally or abroad, in order to
                        reasonably achieve the Purpose. In any case, transfers to third parties will strictly be on a
                        need to know basis, in order to comply with contractual or legal obligations and provided that
                        such third parties have data protection standards comparable to Erenity or the requirement
                        under the applicable Data Protection Laws.
                    </p>
                </li>
                <li>
                    <p> We will securely handle, maintain and store - for a limited period of time - your Personal Data
                        in compliance with Erenity Data Protection Policy and the applicable laws and regulations.</p>
                </li>
                <li>
                    <p> We rely on your Personal Data to achieve the Purpose; hence, you shall ensure that the Personal
                        Data you provide is accurate, correct and complete. If you wish to correct, update or delete
                        your Personal data, you may contact Erenity Data Protection Officer.
                    </p>
                </li>
                <li>
                    <p> You are entitled to withdraw this consent at any time by giving notice to Erenity Data
                        Protection Officer. You acknowledge that such withdrawal shall apply prospectively and only
                        affect our future use or disclosure of your Personal Data.
                    </p>
                </li>
                <li>
                    <p> We may use third party cookies on this website. By accessing our website, you agree that we can
                        place cookies on your device. Our website may allow third parties to download cookies to your
                        device. You can learn about cookies and what they do at www.allaboutcookies.org.
                    </p>
                </li>
                <li>
                    <p> When you visit our website, our server will record your IP address together with the date, time
                        and duration of your visit. We use this information to compile statistical data on the use of
                        our website to track how users navigate through our site. We do this to evaluate and improve our
                        site.
                    </p>
                </li>
                <li>
                    <p> If you have any queries regarding Erenity treatment of your Personal Data, or would like to
                        request for your personal data to be updated or corrected; or withdraw consent to use or
                        disclose the personal data we hold about you, you may contact Erenity Data Protection Officer
                        at hello@Erenity.us. Please allow us reasonable time to respond and effect any change.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div class="my-auto">
        <a href="/">
            <button mat-button class='text-black mt-32 font-36 pt-16 pb-16'>
                <mat-icon>arrow_back_ios</mat-icon>
                Back To Website
            </button>
        </a>
    </div>
</div>